*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: opne+sans, sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

a{
  color: black;
  text-decoration: none;
}